<div class="top-div">
  <img src="assets/img/burger.png" id="hp-burger-icon" alt="hp-burger" width="300px">
  <h1>Welcome to Burger Time!</h1>
</div>

<br>

<div class="bottom-div">
<h2>What is your name?</h2>
  <form action="/" method="POST">
    <div class="form">
      <label for="customer">Customer:</label>
      <input type="text" id="customerID" name="customer_name">
      <button type="submit">Enter</button>
    </div>
  </form>
</div>