<div class="top-div">

  <img src="assets/img/chef.png" id="cook-icon" alt="cook" width="150px">

  <h1>What burger would you like?</h1>

</div>

<div class="title-div">
  <div class="left-div">
    <h2>Ordered Burgers</h2>
  </div>
  <div class="right-div">
    <h2>Devoured Burgers</h2>
  </div>
</div>

<div class="middle-div">
  <div class="left-div">
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
            <img src="assets/img/burger.png" class="icon" alt="burger" width="50px">
            {{this.burger_name}}

            <form class="ordered-burger-form" action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button type="submit">Devour it!</button>
            </form>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="right-div">
    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
            <img src="assets/img/plate.png" class="icon" alt="plate" width="50px">
            {{this.burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="bottom-div">
  <form action="/" method="POST">
    <div class="form">
      <label for="burger">Burger:</label>
      <input type="text" id="burger" name="burger_name">
      <button type="submit">Order</button>
    </div>
  </form>
</div>